<h1>Thank You for your input</h1>
<!--<p>
  <b>Approve:</b>
  <%=h @site_review.approve %>
</p>

<p>
  <b>Comments:</b>
  <%=h @site_review.comments %>
</p>


<%= link_to 'Edit', edit_site_review_path(@site_review) %> |
<%= link_to 'Back', site_reviews_path %>-->
