<input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
onload=function(){
var e=document.getElementById("refreshed");
if(e.value=="no")e.value="yes";
else{e.value="no";location.reload();}
}
</script>

<div id="cat_top">

	
	<div id ="catalog_cart" 
	<% if !session[:cart_ids].empty? %>
		class ="cart_with_books"
	<% end %> >
	
		<%= link_to image_tag('spacer.gif',:id=>'place_order_button', :alt=>"Place Your Order", :title=>"Place Your Order" ), new_order_path  %>
		
		<div id="cart_books_display">
			<%= render :partial => 'books/book_cart',:collection=> @cart_items %>
		</div>
	
	</div>
	

</div>

<div id="shelf">

	<%= render :partial => @books %>

</div>
<div id="catalog_footer" class="catalog">
	<a href="http://www.simonandschuster.com/about/terms_of_use" target="_blank">Terms of Use</a> | <a href="http://www.simonandschuster.com/about/privacy_policy" target="_blank">Privacy Policy</a> |
	Copyright &copy;1997 - 2012, Simon &amp; Schuster, Inc.<br>
	All rights reserved, including the right of reproduction in whole or in part in any form.
	
</div>
<div style="display:block; clear:both;">
	
</div>
<div style="display:none;">
	<%= render :partial => 'books/preload_catalog', :collection=>@books %>
	<img src="../images/04-checkout_dock_2.png" class="hiddenpic" />
	<img src="../images/checkout_bg_874x935_3.png" class="hiddenpic" />
	<img src="../images/04-checkout_order.png" class="hiddenpic" />
	<img src="../images/update_selection_191x24.gif" class="hiddenpic" />
	<img src="../images/atria_logo_catalog_footer_167x38_global.gif" class="hiddenpic" />
</div>